/* Mobile First */

:root {
    --white: #fefefe;
    --light-black: 	#696969;
    --silver: #EDEDED;

  }

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}

body{
    font-family: 'Montserrat', sans-serif;
    /* padding: 20px; */
    margin: 0 auto;
    max-width: 100%;
    color: var--light-black;
    line-height: 2em;
    /* background-color: var--silver; */
    background-color: #EDEDED;
}

.main-img{
    height: 20em;
    width: 20em;
    border-radius: 10em;
    border: 2px black solid;
    margin: 20px;
    
}

.image{
    text-align: center;
}

.intro{
    background-color: #FFF;
    border-radius: 10px;
    margin: 10px;
    line-height: 2em;

}

.center-div{
    text-align: center;

}

.content{
    margin: 20px;
}

.tab{
    text-indent: 50px;
    text-align: justify;
    margin: 10px;
}


/* Projects file */



.project-page{
    margin: 20px auto;
    text-align: center;

}

.project-content{
    text-align: justify;
    margin: 10px 20px;
    background-color: #fff;
    border-radius: 2em;
    padding: 10px;
}

.image-project{
    margin: 20px;
}

.project-links ul li{
    list-style: none;
    font-size: 0.9rem;

}

.project-links li{
    display: inline;
    margin-right: 15px;
}

.project-links{
    margin: 20px auto;
}

.project-links a:visited{
    color: black;
}

.port-img{
    width: 100%;
    border-radius: 40px;
    -webkit-box-shadow: 7px 11px 5px 0px rgba(105,103,105,1);
    -moz-box-shadow: 7px 11px 5px 0px rgba(105,103,105,1);
    box-shadow: 7px 11px 5px 0px rgba(105,103,105,1);
}



/* Resume */

.short-intro, .employment, .education{
    border-bottom: 1px gray solid;
    margin-bottom: 20px;
}

.short-intro, .employment, .education, .skills{
    margin: 1em 2em;
}

.details{
    margin-bottom: 30px;
}

.resume{
    margin-top: 2em;
    background-color: #fff;
    border: 1px #f7eff7 solid;
    border-radius: 20px;
    -webkit-box-shadow: 11px 21px 8px 0px rgba(247,239,247,1);
    -moz-box-shadow: 11px 21px 8px 0px rgba(247,239,247,1);
    box-shadow: 11px 21px 8px 0px rgba(247,239,247,1);
}

.strong{
    font-weight: bold;
}

.year{
    font-style: italic;
}

.sites{
    margin-bottom: 20px;
}

.employment{
    margin-top: 20px;
}

.work-list{
    margin: 10px 20px;
    text-align: justify;
}

.justified-paragraph{
    text-align: justify;
} */